body{
    padding: 50px 100px;
    font-size: 13px;
    font-style: Verdana, Tahoma, sans-sarif;
    background-color: beige;
}
h2{
    margin-bottom: 20px;
    color: #474E69;
}

input,textarea{
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 200px;
    color: #999999;
    box-shadow: rgba(0,0,0,0.1)0px 0px 8px;
}